@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* basic stylings ------------------------------------------ */

body {
  background: url("./stockchart2.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
  font-size: 62.5%;
}
.app {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 100px;
  width: 100px;
  margin: 50px auto;
}
.container {
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #fff;
  padding: 10px 50px 50px;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
.footer {
  text-align: center;
}
.footer a {
  color: #53b2c8;
}

.form {
  padding: 6rem 0;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(24, 23, 23, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  color: white;
  font-size: 30px;
  width: 60%;
  margin-bottom: 100px;
}

.btn,
.btn::after {
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2rem 2.5rem;
  position: relative;
  text-transform: uppercase;
}

.btn::before,
.btn::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn:hover {
  color: #197EE6;
  cursor: pointer;
}

.btn {
  overflow: hidden;
}

.btn::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn:hover:after {
  height: 100%;
  width: 135%;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 65px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -40px;
  font-size: 20px;
  color: white;
}

input:placeholder-shown ~ label {
  color: red;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 4px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background-color: #197EE6;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after,
input:hover ~ .bar:before,
input:hover ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background-color: #197EE6;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background-color: #197EE6;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background-color: #197EE6;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .title {
    width: 75%;
    font-size: 26px;
    margin: 0 0 60px;
  }
  .logo {
    margin: 50px auto 0px;
  }
  .app {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(24, 23, 23, 0.5);
  }
  .form {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    background-color: transparent;
  }
  .btn {
    padding: 2rem 2.5rem;
  }
}
